.detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 85%;
  display: flex;
  background-color: rgba(0,0,0,0.2);
}

.detail .picture {
    display: inline-block;
    width: 30%;
    height: 40.2%;
}

.detail .message {
  font-size: 22px;
  color: rgba(255,255,255,0.8);
  padding: 0 28px;
}

.detail .title {
  font-size: 26px;
  line-height: 32px;
  margin-top: 20px;
  color: #fff;
}

.detail .date-reporter {
  margin: 3% 0 5%;
}

.detail .date-reporter span {
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 4px;
  padding: 0 10px;
  line-height: 28px;
  font-size: 15px;
  margin-right: 15px;
  display: inline-block;
}

.detail .desc {
  line-height: 2;
}


.cordova .detail .picture {
  width: 26%;
  height: 34.84%;
}
.cordova .detail .title {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}
.cordova .detail .date-reporter {
  margin: 8px 0 12px;
}
.cordova .detail .date-reporter span {
  font-size: 14px;
  line-height: 1.5;
}
.cordova .detail .message {
  font-size: 12px;
  padding: 0 10px;
}
.cordova .detail .desc {
  line-height: 16px;
}